<div class="modal fade rounded" id="geli" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="overflow-y: initial !important">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Diwangeli Dokumenti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 70vh; overflow-y: auto;" >


        <form method="POST" action="/articles/add" enctype="multipart/form-data">
         
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">magac</label>
            <input type="text" class="form-control" id="magac"  name="magac" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">dhashay</label>
            <input type="text" class="form-control" id="dhashay"  name="dhashay" aria-describedby="emailHelp">
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">hooyo</label>
            <input type="text" class="form-control" id="hooyo"  name="hooyo"aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="hidden" value="cadado" class="form-control" id="city"  name="city">
          </div><div class="mb-3">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">deggan</label>
            <input type="text" class="form-control" id="deggan"  name="deggan">
          </div>
          
          <div class="mb-3 form-group"><input type="file" accept="image/*" name="image">
            <input class="btn btn-primary"type="submit" value="Submit">  
          </div>
    </form>

      </div>
      
  </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

    <div class="box container container-fluid">
        <div class="jumbotron">
            <div class="card ">
                <div class="card-header">
                    <h2>Hayadda Aqoonsiga Galmudug</h2> 
                </div>
                <div class="card-body w-100 ">
                  <h5 class="card-title">Diwanka Degamada Cadado</h5>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#geli" style="width: 200px; letter-spacing: 2px">DIWAANGELI</button>
                    </div>
                  </div>
               <br>
               <div  class="tableFixHead">
                  <table class="table-fixed table-striped table-fluid table-hover table-bordered" >
                    <thead style="position: sticky;top: 0">
                      <tr>
                        <th scope="col">Magac</th>
                        <th scope="col">Dhashay</th>
                        <th scope="col">Hooyo</th>
                        <th scope="col">Degaan</th>
                        <th scope="col">canshuur</th>

                      </tr>
                    </thead>

                    <tbody>
                    {{#each articles}}
                      <tr>
                        <td>{{magac}}</td>
                        <td>{{dhashay}}</td>
                        <td>{{hooyo}}</td>
                        <td>{{deggan}}</td> 
                        <td>{{canshuur}}</td>                        
                        <td class="d-flex flex-right">
                            <a href="/cadado/Articles/edit/{{_id}}" class="badge badge-sm badge-primary mr-2">open</a>
                        </td>
                    {{/each}}
                      </tr>
                    </tbody>
                  </table>
               </div>
                 
                </div>
              </div>
        </div>
    </div>
    

